<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <div class="text-xs-center">
      </div>
      <v-card>
        <v-card-title class="headline">
          Login Here
        </v-card-title>
        <v-card-text>
          <form @submit.prevent="login">
            <v-text-field
              v-model="email"
              label="Email"
              required
            />
            <v-text-field
              v-model="password"
              label="Password"
              type="password"
              required
            />
            <v-btn type="submit">
              Sign In
            </v-btn>
          </form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>

import axios from 'axios'
import {loginUrl} from '../endpoints'

export default {
  data() {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    login: function () {
   const { email, password } = this

   new Promise ((resolve, reject) => {
  axios({url: loginUrl, data: {email, password}, method: 'POST' })
    .then(resp => {
      const token = resp.data.access_token.token;
      localStorage.setItem('access_token', token) // store the token in localstorage
      resolve(resp)
    })
  .catch(err => {
    localStorage.removeItem('access_token') // if the request fails, remove any possible user token if possible
    reject(err)
  })
  .then(() => {
     this.$router.push('/')
   })
})

 }
  }
}
</script>